<div [ngClass]="{'wrapper':true}">
	<h1 [ngClass]="{'title':true}">{{title}}</h1>
	<table>
		<thead>
			<tr>
				<th *ngFor='let header of headers' [ngClass]="{'header':true}">
					{{header | titlecase}}
				</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor='let email of emails'>
				<td [ngClass]="{'record':true}">{{email.email | lowercase}}</td>
				<td [ngClass]="{'record':true}" *ngIf='email.importance'>High</td>
				<td [ngClass]="{'record':true}" *ngIf='!email.importance'>Low</td>
				<td [ngClass]="{'record':true}">{{email.subject}}</td>
				<td [ngClass]="{'record':true}">{{email.content}}</td>
			</tr>
		</tbody>
	</table>
</div>